<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Jquery 3.7.1 -->
    <script src="/lib/Jquery/jquery-3.7.1.min.js"></script>

    <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="/lib/Bootstrap/bootstrap.min.css"/>

    <!-- Chart.js 4.4.1 -->
    <script src="/lib/ChartJS/chart.min.js"></script>

    <!-- Chart.js datalabel (tooltip-data) -->
    <script src="/lib/ChartJS/chartjs-plugin-datalabels.js"></script>

    <!-- FontAwsome 6.7 -->
    <link href="/lib/FontAwesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="/lib/FontAwesome/css/all.css" rel="stylesheet" />

</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

</body>
</html>
