@using SecuDev.Models;
@using SecuDev.Helper;
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string nowDate = Utility.GetNowDate();

}

<div class="row">

    <div class="border rounded col-4 w-50">

        11

    </div>

    <div class="border rounded w-50">

        11
    </div>

    <div class="border rounded w-50">

        11
    </div>

</div>
